* {
  margin: 0;
  padding: 0;
}



/********************************** Navigation ********************************/
header {
  background-color: black;
  overflow: auto;
}


.logo {
  width: 200px;
  height: 100px;
  float: left;
}

nav {
  margin: 37px 0;
  display: inline-block;
}

@media screen and (min-width: 1000px) {
  .menu-bar {
    display: none;
    float: right;
    color: white;
  }

  .grid-promo {
    background-color: black;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "image-1 image-3 promo"
      "image-2 image-2 promo";
  }

  .promo-image {
    width: 100%;
    height: 100%;
  }

  .promo-banner {
    grid-area: promo;
  }

  .news-image-1 {
    grid-area: image-1;
  }

  .news-image-2 {
    grid-area: image-3;
  }

  .news-image-3 {
    grid-area: image-2;
  }
}


@media screen and (max-width: 1000px) {
  nav, #search-container {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
  }
}


nav li {
  display: inline-block;
  margin-left: 20px;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

nav a {
  font-size: 25px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #bc2525;
}


#search-container {
  float: right;
  margin: 34px 20px;
}

#search-text {
  font-size: 17px;
  padding: 6px 10px;
  border: none;
}

#search-button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.menu-bar {
  position: absolute;
  left: 15px;
  top: 34px;
  color: gray;

}

/************************************** Promo **********************************/

.grid-promo {
  background-color: black;
}

.promo-banner {
  width: 100%;
}

.news-image-1 {
  width: 100%;
  height: 100%;
}

.news-image-2 {
  width: 100%;
  height: 100%;
}

.news-image-3 {
  width: 100%;
  height: 100%;
}

/******************************** Latest Products ******************************/
#products {
  background-color: gray;
  padding: 20px;
}

#products h3 {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.latest-products {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 300px;
  grid-column-gap: 1em;
}


.new-product img {
  width: 100%;
  height: 100%;
}
