* {
  margin: 0;
  padding: 0;
}



/********************************** Navigation ********************************/
header {
  background-color: black;
  overflow: auto;
}


.logo {
  width: 200px;
  height: 100px;
  float: left;
}

nav {
  margin: 37px 0;
  display: inline-block;
}



nav li {
  display: inline-block;
  margin-left: 20px;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

nav a {
  font-size: 25px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #bc2525;
}

/************ the dropdown navigation *************/
.nav-container {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
}

.dropdown-content a {
  float: none;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 20px;
  min-width: 200px;
}

.nav-container:hover .dropdown-content {
  display: block;
}
/****************************************/
#search-container {
  float: right;
  margin: 34px 20px;
}

#search-text {
  font-size: 17px;
  padding: 6px 10px;
  border: none;
}

#search-button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.menu-bar {
  position: absolute;
  left: 15px;
  top: 34px;
  color: gray;

}

/************************************** Promo **********************************/

.grid-promo {
  background-color: black;
}

.promo-image, .product-image {
  width: 100%;
  height: 100%;
}

.promo-image:hover {
  opacity: 0.9;
}

/******************************** Latest Products ******************************/
#products {
  background-color: gray;
  padding: 20px;
}

#products h3 {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.latest-products {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 300px;
  align-items: center;
  text-align: center;
}

.new-product img {
  width: 100%;
  height: 100%;
}

.new-product {
  position: relative;
}

.text-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.new-product:hover .product-image {
  opacity: 0.2;
}

.new-product:hover .text-container {
  opacity: 1;
}

#click-more {
  text-decoration: none;
  color: #fff;
  font-size: 60px;
  font-family: sans-serif;
}

.text {
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

.learn-more {
  width: 80%;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  background-color: #41E734;
  font-size: 15px;
  padding: 5px;
  border: none;
  margin: 10px;
}

/************************************ Footer **********************************/

footer {
  display: flex;
  background-color: black;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  font-size: 20px;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  color: #fff;
  margin-bottom: 5px;
}

.fab {
  margin-right: 10px;

}

.fa-facebook {
  color: #1f3c88;
}

.fa-instagram {
  color: #f857b5;
}

.fa-twitter {
  color: #7bcecc;
}

#social-media {
  grid-area: social-media;
}

#copyright {
  grid-area: copyright;
}

#company-logo {
  grid-area: company;
  height: 100px;
}

.credit-copyright{
  width: 100%;
}

.credit-logo {
  height: 100%;
}

/****************************** Media Query **********************************/

@media screen and (min-width: 1000px) {
  .menu-bar {
    display: none;
    float: right;
    color: white;
  }

  .grid-promo {
    background-color: black;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "image-1 image-3 promo"
      "image-2 image-2 promo";
  }

  .promo-banner {
    grid-area: promo;
  }

  .news-image-1 {
    grid-area: image-1;
  }

  .news-image-2 {
    grid-area: image-3;
  }

  .news-image-3 {
    grid-area: image-2;
  }
}


@media screen and (max-width: 1000px) {
  nav, #search-container {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
  }

  #products {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .latest-products {
    display: none;
  }

  #copyright {
    margin-top: 30px;
  }
}
